doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
    body
        div 
            each pdt in produce
                p= pdt.name
                p= pdt.description
                p= pdt.quantity
                p= pdt.price

            a(href="/produce/new") Add another pdt